<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>webpack project</title>
  </head>
  <body>
    <div id="root"></div>
    <table id="table"
      data-search="true"
      data-pagination="true"
    ></table>
  </body>
</html>
